.circles{
  > div {
    @apply absolute;
    width: 400px;
    height: 400px;
    animation: circlesAnim 4s infinite ease-in-out;

    &:first-child{
      left: -400px;
      top: -250px;
      box-shadow: 260px 100px 400px rgba($color: #FFCE0A, $alpha: 1);
    }
    &:last-child {
      right: -400px;
      bottom: -250px;
      box-shadow: -260px -100px 400px rgba($color: #FFCE0A, $alpha: 1);
    }
  }
}

@keyframes circlesAnim{
  0% {
    opacity: 0.25;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0.25;
  }
}